/* Reset css */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root variable */
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333333;
  --color-white: #fff;
}
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}
h1 {
  font-size: 2.5rem;
}
h2,
h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2,
  h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
}
/* button */
.btn {
  outline: none;
  border: 0ch;
  cursor: pointer;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.btn--primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary-light);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* badge */
.badge {
  border: 2px solid var(--color-primary);
  border-radius: 32px;
  font-size: 1.2rem;
  padding: 0.5rem 1.3rem;
  text-transform: uppercase;
  color: var(--color-primary);
  background-color: var(--color-secondary-light);
}

.badge--primary {
  color: var(--color-secondary-light);
  background-color: var(--color-primary);
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* list */

.list {
  list-style: none;
  font-size: 1.6rem;
}
.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}
/* .list--tick .list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../assets/images/Tick-Square.svg) no-repeat;
  padding-right: 3rem;
} */
.list--tick .list__item {
  background: url(../assets/images/Tick-Square.svg) no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .list {
    font-size: 1.8rem;
  }
  .list--tick .list__item {
    margin-bottom: 2rem;
  }
}

/* Plan */
.block-plan {
  display: grid;
  gap: 8rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  margin-top: 4rem;
}
.plan {
  font-size: 1.8rem;
  transition: all 0.5s ease-in-out;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px 10px #efefef;
}
.card--primary .card__header {
  background: var(--color-primary-light);
}
.card--secondary .card__header {
  background: var(--color-secondary-dark);
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__header {
  background: var(--color-secondary-dark);
  color: var(--color-white);
}
.card__body {
  background: var(--color-secondary-light);
}
.paln__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__discription {
  display: block;
  margin-top: 1.5rem;
}
.plan .btn--block {
  font-size: 1.6rem;
  margin-top: 10rem;
}
.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}
@media screen and (min-width: 1024px) {
  .plan .btn--block {
    font-size: 1.8rem;
  }
  .plan--popular {
    transform: scale(1.1);
  }
}
/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Feature */
.feature {
  display: grid;
}
.feature .feature__text {
  margin-bottom: 2rem;
}
.feature__image > img {
  width: 100%;
  height: auto;
}
.feature__image {
  margin-bottom: 2rem;
}
.feature .btn {
  padding: 1.2rem 3rem;
}
@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature__image {
    order: 2;
    margin-bottom: 0;
  }
  .feature__details {
    order: 1;
  }
}
/* contactUs */
.contact-us {
  display: grid;
}
.contact-us__map {
  display: none;
}
.contact-us__map img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas:
      "info form"
      "map form"
      "icons form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__social {
    grid-area: icons;
  }
  .contact-us__map {
    grid-area: map;
    display: block;
  }
  .contact-us__form {
    grid-area: form;
    margin-right: 3rem;
  }
  .contact-us__icons {
    grid-area: info;
  }
}
/* Icons */
.icon {
  width: 24px;
  height: 24px;
}
.icon-container {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 100%;
  cursor: pointer;
}
.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-holder__label {
  margin-left: 1rem;
  display: block;
  max-width: 200px;
}

@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-us__icons .icon-holder {
    flex-direction: column;
  }
  .icon-holder__label {
    order: 2;
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}
/* social icons */
.contact-us__social {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .contact-us__social {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact-us__social .icon-container {
    margin-left: 2rem;
  }
}
/* form */
.form-wrapper {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5.2rem;
  box-shadow: 0 19px 20px rgba(0, 0, 0, 0.06);
}
.form-wrapper h3 {
  margin-bottom: 5.2rem;
  text-align: center;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
input,
textarea {
  display: block;
  outline: 0;
  border: 1px solid #ccc;
}
textarea {
  resize: none;
}
.form-wrapper input,
.form-wrapper textarea {
  border-radius: 39px;
  background-color: #efefef;
  padding: 1rem 1.5rem;
  font-family: "vazir";
  margin-bottom: 1.5rem;
}
.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid var(--color-primary);
}
.form-wrapper textarea {
  border-radius: 5px;
}
::placeholder {
  font-size: 1.2rem;
  color: #444;
  font-family: "vazir";
}
/* @media screen and (min-width: 1024px) {
  .contact-us__form{
    margin-right: 3rem;
  }
} */

/* Footer */
.main-footer {
  background-color: var(--color-headings);
  color: var(--color-white);
  min-height: 250px;
  display: flex;
  align-items: center;
}
.main-footer .footer {
  display: flex;
  flex-direction: column;
}
.footer__item {
  margin-bottom: 2.5rem;
}
.footer__item a {
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.footer__item h6 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.footer__item h3 {
  font-size: 1.4rem;
  color: var(--color-white);
  margin-top: 1.5rem;
}
.footer__item p {
 color: #ccc;
 font-size: 1.4rem;
}
.footer__item.enemad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__enemad {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 86px;
  margin-left: 1.5rem;
}
.footer__enemad img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main-footer .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__item {
    margin-bottom: 0;
    margin-left: 2rem;
  }
  .footer__enemad {
    max-height: 80px;
  }
  .footer__item {
    max-width: 200px;
  }
}
